Repository 6thpath/packages, pull requests merged in 2021-09, with the labels that each got.

#3 Add prettier config package
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/LICENSE
  packages/prettier-config/README.md
  packages/prettier-config/package.json
Labels: prettier-config

#5 Fix package build
  README.md
  packages/prettier-config/LICENSE
  packages/prettier-config/package.json
Labels: root, prettier-config

#8 Fix publish package workflow
  packages/prettier-config/package.json
Labels: prettier-config

#9 Fix publish workflow
  packages/prettier-config/package.json
Labels: prettier-config

#11 Update package readme
  packages/prettier-config/README.md
Labels: prettier-config

#12 Fix publish workflow
  .github/CODEOWNERS
  .npmrc
  package.json
  packages/prettier-config/README.md
  packages/prettier-config/package.json
Labels: root, prettier-config

#13 Fix publish workflow
  packages/prettier-config/package.json
Labels: prettier-config

#14 Clean up
  .gitignore
  .npmrc
  package.json
Labels: root

#16 Add eslint-config package
  .gitignore
  packages/eslint-config/LICENSE
  packages/eslint-config/README.md
  packages/eslint-config/common.js
  packages/eslint-config/package.json
  packages/eslint-config/typescript-react.js
  packages/eslint-config/typescript.js
  packages/eslint-config/yarn.lock
  yarn.lock
Labels: eslint-config, root

#17 Fix eslint rule
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/typescript-react.js
Labels: eslint-config

#21 Remove deprecated setting from config
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/README.md
  packages/prettier-config/package.json
Labels: prettier-config

#22 Bump dependencies version
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Labels: eslint-config

#23 Cleanup + bump design-system package's dependencies version
  packages/design-system/.github/settings.json
  packages/design-system/package.json
  packages/design-system/yarn.lock
Labels: design-system

#24 Update repo url
  package.json
Labels: root

#25 Update eslint config rules
  packages/eslint-config/package.json
  packages/eslint-config/typescript-react.js
  packages/eslint-config/typescript.js
Labels: eslint-config

#26 Update dependencies
  packages/design-system/package.json
  packages/design-system/yarn.lock
Labels: design-system
